
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/style.bundle.css">

    <title>Edicasoft Front-end test task</title>
  </head>
  <body>
    <main>
      <article class="page-intro">
        <div class="row">
          <div class="col-10 col-md-8 col-lg-6"></div>
          <div class="col-2 col-md-4 col-lg-6 page-intro_bg"></div>
        </div>
        <div class="page-intro_content">
          <div class="container-fluid h-100">
            <div class="d-flex justify-content-around align-items-stretch h-100">
              <div class="item align-self-center">
                <div class="text-uppercase">GET STARTED WITHIN 2 MINUTES</div>
                <h1>Learn How To Bake In
                    5 Easy Steps</h1>
                <div>
                    No doubt, you need more one pot dinners in your life like this easy Bosnian-style chicken and rice. This recipe is made all over the world with countless variations on the theme.
                </div>
              </div>
              <div class="page-intro_form">
                <form></form>
              </div>
            </div>
          </div>
        </div>  
      </article>
      <article class="container">
          <div class="row justify-content-around align-items-stretch p-5">
            <div class="col-12 col-sm-6"><img src="img/img1.png" class="img-fluid"/></div>
            <div class="col-12 col-sm-6 align-self-center">
              <h4>Do you know how to level a cake?</h4>
              <div class="">
                After years of cake successes and flops, I’m confident in this homemade vanilla cake. During my recipe testing, 
                I combined my white cake recipe and naked cake recipe. These are two reader favorites and I knew they’d be the best starting point.
              </div>
            </div>
          </div>
      </article>
      <article class="container">
          <div class="row justify-content-around align-items-stretch p-5">
            <div class="col-12 col-sm-6 order-1 order-sm-0 align-self-center">
              <h4>Do you know how to level a cake?</h4>
              <div class="">
                After years of cake successes and flops, I’m confident in this homemade vanilla cake. During my recipe testing, 
                I combined my white cake recipe and naked cake recipe. These are two reader favorites and I knew they’d be the best starting point.
              </div>
            </div>
            <div class="col-12 col-sm-6 order-0 order-sm-1"><img src="img/img2.png" class="img-fluid"/></div>
          </div>
      </article>
    </main>
  </body>
</html>