.page-intro{
    height:770px; 
    background-color: #E3F5F2;     
    .page-intro_bg{        
        height:770px;
        background-image: url('/img/bg.png');
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-intro_content{
        position: absolute;
        width: 100%;
        height: 770px;
        top:0px;
    }
}
